{block content}

    <div class = "container">

        <br>

        <div class = "row"> <h1 n:block = "title"> EDITAR PERFIL </h1> </div>

        <br>

        <div class = "row">

            <div class = "col col-lg-6"> {control editarUsuarioForm} </div>

            <div class = "col col-lg-6"> <a n:href = "Usuarios:default" class = "btn btn-info"> Volver </a> </div>

        </div>

    </div>

{/block}