{block content}

    <div class="container">

        <br>

        <div class="row">

            <h1 n:block = "title"> Añadir Averia </h1>

        </div>

        <br>

        <div class="col col-lg-6">

            <a n:href = "Averias:default" class="btn btn-success"> Volver </a>

        </div>

        <br>

    </div>

    <div class="row">

        <div class="col col-lg-12">

            {control addAveriaForm}

        </div>

    </div>

    </div>

{/block}

