{block content}
    <div class="container">
        <div class="row">
            <div class="col-6 col-lg-6">
                <h1>Añadir entrada de copias</h1>
            </div>
            <div class="col-6 col-lg-6">
                {*                BOTONONES*}
            </div>
        </div>
        <div class="row">
            {control addCopiasForm}
        </div>
    </div>
{/block}