{block content}

    <div class="container">

        <br>

        <div class="row">

            <h1 n:block = "title"> Editar Cliente </h1>

        </div>

        <br>

        <div class="row">

            <div class="col col-lg-6"><a n:href = "Empresas:default" class="btn btn-info"> Volver </a></div>

        </div>

        <br>

        <div class="row">

            <div class="col col-lg-6"> {control editarEmpresaForm} </div>

        </div>

    </div>

{/block}