* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
}

h1 {
  color: #3484D2;
}

a[href^="#error:"] {
  background: red;
  color: white;
}

form .required label {
  font-weight: bold;
}

.alert {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 33vw;
  z-index: 999999;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
tabladecinco{
  width: 20% !important;
}
.bg-light-red{
  background-color: #ff726f !important;
}

#cocina {
  overflow-x: scroll;

  .row {

    display: inline-flex;
    flex-wrap: nowrap;

    .card {
      border: 0;
      width: 450px;
      margin-right: 20px;

      .card-body {
        position: relative;
        padding-bottom: 50px;
      .card-title {
        span {
          float: right;
        }
      }
        ul {
          padding: 0;

          li {

          }
        }

        .btn {
          position: absolute;
          bottom: 5px;
          left: 200px;
        }
      }
    }
  }
}
#myJuiNav{
  transition: 0.5s;
}

p.open-menu{
  padding-left: 2rem;
}
.navbar-letter-white{
  color: white;
}
.gray{
  color: blue;
  font-size: 2rem;
}
a.nav-link:hover{
  transition: 1s;
  background-color: #095bd4;

}
a.nav-left{
  text-align: left;
}
a.nav-left:hover{
  transition: 1s;
  font-size: 30px;
  margin-left: 1rem;
}

table.table tr:hover{
  background-color: #eeeeee;
  transition: 0.5s;
}

table.table tr td a i{
  font-size: 1.5rem;
}
/*table.table tr td a i:hover{
  font-size: 1.25rem;
  transition: 0.5s;
}
*/
/* CHIP */
.chip {
  margin-left: 1rem;
  display: inline-block;
  padding: 0 25px;
  height: 50px;
  font-size: 19px;
  line-height: 50px;
  border-radius: 25px;
  background-color: #1f5cf6;
  font-color: white;
  border: white solid 2px;
}

.chip img {
  float: left;
  margin: 0 9px 0 -25px;
  height: 45px;
  width: 45px;
  border-radius: 50%;
}

td.options{
  width: 10%;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #e1e1e1;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 50px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
}


@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

@media screen and (max-width: 1px) {
  .bg-light-red{
    background-color: #ff726f;
}
  td.codigos {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .bg-light-red{
    background-color: #ff726f;
}
  td.codigos {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .bg-light-red{
    background-color: #ff726f;
}
  td.codigos {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .bg-light-red{
    background-color: #ff726f;
}
  td.codigos {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  .bg-light-red{
    background-color: #ff726f;
}
  td.codigos {
    display: revert;
  }
}